<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title www.jobprotalbd.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/StyleSheet.css")
</head>
<body>
    <ul>
        <li> <img src="~/Image/logo1.png" alt="logo" height="45" width="165" style="margin-left:-6px; margin-top:-3px" /></li>
        <li style="margin-left:27px">@Html.ActionLink("Job Protal", "Index", "Home"e")</li>
        <li>@Html.ActionLink("Company", "Index", "Home")</li>
        <li style="text-decoration:none">@Html.ActionLink("Job Search", "Index", "Home")</li>
        <li>@Html.ActionLink("Notice", "_SheekerMaster", "Shared")</li>
        <li>
            @Html.ActionLink("Total Enrolled", "Index", "Home")
            <ul>
                <li> @Html.ActionLink("Job Sheeker", "_Jobsheeker", "Views")</li>
                <li> @Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Interview", "Index", "Home")</li>
        <li>
            @Html.ActionLink("Registration", "Index", "Home")
            <ul>
                <li>@Html.ActionLink("Job Sheeker", "Registration", "Sheeker")</li>
                <li>@Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Login", "Index", "Home")
            <ul>
                <li>@Html.ActionLink("Job Sheeker", "Login", "Sheeker")</li>
                <li>@Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Admin", "About", "Home")</li>
    </ul>
    <div class="right">
        <ul><li class="about">@Html.ActionLink("Feadback", "About", "Home")</li></ul>
    </div>
    <div class="right">
        <ul><li class="helpline">@Html.ActionLink("Contact", "About", "Home")</li></ul>
    </div>
    <div class="right">
        <ul><li class="helpline2">@Html.ActionLink("About", "About", "Home")</li></ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b>Job Protal</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>