<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title www.jobprotalbd.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/StyleSheet.css")
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Job Protal", "About", "Home")</li>
            <li>@Html.ActionLink("Company", "About", "Home")</li>
            <li>@Html.ActionLink("Job Search", "Index", "Home")</li>
            <li>@Html.ActionLink("Notice", "_SheekerMaster", "Shared")</li>
            <li>
                @Html.ActionLink("Total Enrolled", "_Jobsheeker", "Views")
                <ul>
                    <li> @Html.ActionLink("Job Sheeker", "_Jobsheeker", "Views")</li>
                    <li> @Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Interview", "list", "Sheeker")</li>
            <li>
                @Html.ActionLink("Registration", "Registration", "Home")
                <ul>
                    <li>@Html.ActionLink("Job Sheeker", "Registration", "Sheeker")</li>
                    <li>@Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("Login", "Registration", "Home")
                <ul>
                    <li>@Html.ActionLink("Job Sheeker", "Login", "Sheeker")</li>
                    <li>@Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "About", "Home")</li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b>Job Protal</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>