<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Sheeker/HomePage.css")
</head>
<body>
    <div class="head">
        <ul>
            <li> <img src="~/Image/logo1.png" alt="logo" height="45" width="160" /></li>
            <li style="margin-left:27px">@Html.ActionLink("Job Protal", "About", "Home")</li>
            <li>@Html.ActionLink("Home", "Indo", "Home")</li>
            <li>@Html.ActionLink("Company", "About", "Home")</li>
            <li>@Html.ActionLink("Job Search", "Index", "Home")</li>
            <li>@Html.ActionLink("Notice", "Index", "Home")</li>
            <li>
                @Html.ActionLink("Total Enrolled", "_Jobsheeker", "Views")
                <ul>
                    <li> @Html.ActionLink("Job Sheeker", "_Jobsheeker", "Views")</li>
                    <li> @Html.ActionLink("Company", "_Jobsheeker", "Views")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Interview", "list", "Sheeker")</li>
            <li>@Html.ActionLink("Setting", "Setting", "Sheeker")</li>
            <li>@Html.ActionLink("Logout", "list", "Sheeker")</li>
        </ul>
    </div>
    <div class="nav">
        <ul class="active"><li class="nvli" style="text-align:center">My Resume</li></ul>
        <ul><li>@Html.ActionLink("View Resume", "UploadResume", "Sheeker")</li></ul>
        <ul><li>@Html.ActionLink("Edit Resume", "About", "Home")</li></ul>
        <ul><li>@Html.ActionLink("Upload Resume", "UploadResume", "Sheeker")</li></ul>
        <ul><li>Email Resume</li></ul>
        <ul class="active"><li class="nvli" style="text-align:center">My Activity</li></ul>
        <ul><li>@Html.ActionLink("Shortlist Job", "About", "Home")</li></ul>
        <ul><li>@Html.ActionLink("Following Company", "About", "Home")</li></ul>
        <ul><li>@Html.ActionLink("Emailed Resume", "About", "Home")</li></ul>
        <ul class="active"><li class="nvli" style="text-align:center">Company</li></ul>
        <ul><li>@Html.ActionLink("Message", "About", "Home")</li></ul>
        <ul><li>@Html.ActionLink("View Resume", "About", "Home")</li></ul>
    </div>
    <div class="right">
        <ul><li class="about">@Html.ActionLink("Feadback", "About", "Home")</li></ul>
    </div>
    <div class="right">
        <ul><li class="helpline">@Html.ActionLink("Contact", "About", "Home")</li></ul>
    </div>
    <div class="right">
        <ul><li class="helpline2">@Html.ActionLink("About", "About", "Home")</li></ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
